.message{
    /* padding: 5px;
    float: right;
    width: 30%; */

    position: absolute;
    top: 30px;
    right: 75px;
    padding: 0pc;
    width: 44%;
}


.message1{
    position: absolute;
    top: 50px;
    right: 0px;
    padding: 0pc;
    width: 44%;
    
}